:root{
    --fs-title-title: 2.5rem;
    --fs-title-logo: 2rem;
    --fs-title: 4rem;
    --fs-subtitle: 2rem;
    --fs-text: 1rem;

    --color-primary: rgb(225, 0, 0);
    --color-primary-transparent-min: rgba(225, 0, 0, 0.2);
    --color-primary-transparent-max: rgba(225, 0, 0, 0.05);
    --color-background: #F6F6F6;
    --color-text: #1A1A1A;
    --color-text-2: #666666;
    --color-text-inverted: #FFFFFF;
    --color-box: #FFFFFF;
    --color-box-border: #DCDCDC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--color-background);
    font-family: "SBBNeue", sans-serif;
}

h1{
    font-size: var(--fs-title-title);
    color: var(--color-primary);
}

h2{
    font-size: var(--fs-subtitle);
    font-weight: 500;
}

p{
    font-size: var(--fs-text);
}


/* #region Header */
header {
    background-color:var(--color-primary);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 2rem;
}

.name {
    display: flex;
    gap: 0rem;
}

.name h1 {
    font-weight: 600;
}

.name #abenteuer {
    color: var(--color-text);
    font-weight: 100;
}

.name #now {
    color: var(--color-text-inverted);
}

.logo img{
    height: var(--fs-title-logo);
}

/* #endregion */

/* #region main */

/* #region box */

.box{
    margin: 2rem 25%;
    width: 50%;
    background-color: var(--color-box);
    padding: 2rem;
    border: 0.5px solid var(--color-box-border);
    border-radius: 16px;
    box-shadow: 
    0px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0px 4px 6px -4px rgba(0, 0, 0, 0.1);
}

.interactive-elements{
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 2rem;
}

.box svg{
    width: 1rem;
    height: 1rem;
    fill: none;
}

.box-title{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.box-text{
    margin-top: 0.75rem;
}

.box-text p{
    margin-top: 0.25rem;
}

.input-title{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.inputs{
    display: flex;
    width: 100%;
    align-items: top;
    gap: 10%;
}

.input-time, .input-place{
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#ort-input{
    -webkit-appearance: none;
    width: 100%;
    padding: 0.5rem 0.75rem;
    border: 1px solid var(--color-box-border);
    background: none;
    border-radius: 4px;
}

#ort-input:focus{
    outline: none;
}

#vorschlaege {
    cursor: pointer;
    border: solid 1px var(--color-box-border);
    margin-top: 0;
    border-radius: 4px;
    box-shadow: 
    0px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0px 4px 6px -4px rgba(0, 0, 0, 0.1);
    background-color: var(--color-box);
}

#vorschlaege *{
    padding: 0.35rem 0.5rem;
}

#vorschlaege *:hover{
    background-color: var(--color-box-border);
}

.vorschlaege-hide {
    display: none;
}

#zeit-input {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    background: transparent;
}

#zeit-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0.3rem;
    height: 1rem;
    background: var(--color-primary);
    cursor: pointer;
    border: none;
    border-radius: 4px;
    margin-top: -0.3rem;
    
}

#zeit-input::-moz-range-thumb {
    width: 0.3rem;
    height: 1rem;
    background: var(--color-primary);
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

#zeit-input::-webkit-slider-runnable-track {
    width: 100%;
    height: 0.3rem;
    background: var(--color-box-border);
    border-radius: 4px;
}

#zeit-input::-moz-range-track {
    width: 100%;
    height: 0.3rem;
    background: var(--color-box-border);
    border-radius: 4px;
}

.time-labels{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

.time-labels p {
    margin: 0;
}

.time-labels p{
    color: var(--color-text-2);
    font-size: 0.75rem;
    text-align: center;
}

.time-labels .label1{
    text-align: left;
}

.time-labels .label3{
    text-align: right;
}

#start-btn {
    width: 100%;
    padding: 0.8rem 2rem;
    background-color: var(--color-primary);
    border-radius: 4px;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    cursor: pointer;
}

#start-btn p{
    color: var(--color-box);
}

#start-btn svg{
    fill: none;
}

/* #endregion */

/* #region Ausgabe Zug */

.train-icon{
    width: min(10%, 100%);
    max-width: 10%;
    max-height: 100%;
    aspect-ratio: 1 / 1;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}

.train-icon svg{
    width: 60%;
    height: 60%;
}

.response{
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 0.5rem;
    height: 100%;
    align-items: center;
}

.response-text{
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.response-text h3{
    font-weight: 500;
}

.response-text h3 span{
    color: var(--color-primary);
}

.response-text p{
    font-size: 0.8rem;
    color: var(--color-text-2);
}

.divider{
    border: 1px solid var(--color-box-border);
    margin: 1rem 0;
}

.table{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
}

.table-element{
    background: var(--color-primary-transparent-max);
    border: 0.5px solid var(--color-primary-transparent-min);
    border-radius: 12px;
    padding: 1rem;
}

.element-title{
    color: var(--color-text-2);
    font-size: 0.8rem;
}

.element-part-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
}


.response-suprise h2 {
    width: 30%;

}

.response-suprise p {
    width: auto !important;
    margin: 0 !important;
}

.station-name {
    font-size: 2.45rem !important;
    font-weight: 700 !important;
    color: var(--color-primary) !important;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
    z-index: 1;
    margin-top: 0 !important;
    text-align: center;
}

#aussteigen-title {
    font-size: 1.25rem !important;     
    font-weight: 500;
    color: var(--color-text);
    margin-bottom: 1.5rem;
    margin-left: 0.15rem;
}

.response-suprise {
    margin-top: 2rem;
    text-align: left;
    padding-left: 0;
    margin-left: 0;
}

#aussteigen-title {
    font-size: 1.25rem ;
    font-weight: 500;          
    color: var(--color-text);
    margin-bottom: 1.5rem;
    margin-left: 0.15rem;
    padding-left: 0;
}

.gift-wrapper {
    cursor: pointer;
    position: relative;
    width: 280px;
    height: 280px;
    margin: 0 auto;
}


.gift-container {
    position: relative;
    width: 280px;
    height: 280px;         
    margin: 0 auto;
}

.gift-closed {
    width: 100%;
    position: absolute;
    z-index: 2;
    transition: opacity 0.4s ease;
}

.gift-open {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease;
    z-index: 2;
}

.gift-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 115%;
    transition: transform 0.8s cubic-bezier(0.34, 1.56, 0.64, 1); 
    z-index: 3;
}

.gift-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transition: transform 0.8s cubic-bezier(0.34, 1.56, 0.64, 1);
    z-index: 1;
}

.gift-wrapper.open .gift-closed {
    opacity: 0;
}

.gift-wrapper.open .gift-open {
    opacity: 1;
    pointer-events: auto;
}

.gift-wrapper.open .gift-top {
    transform: translateY(-85px);   
}

.gift-wrapper.open .gift-bottom {
    transform: translateY(55px);    
}


/* #endregion */


/* #endregion */