:root{
    --fs-title: 2.5rem;
    --fs-title-logo: 2rem;

    --color-primary: #E10000;
    --color-background: #F6F6F6;
    --color-text: #1A1A1A;
    --color-text-inverted: #FFFFFF;
    --color-box: #FFFFFF;
    --color-box-border: #DCDCDC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--color-background);
}


/* #region Header */
header {
    background-color:var(--color-primary);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 2rem;
}

.name {
    display: flex;
    gap: 0.5rem;
}

.name h1 {
    font-size: var(--fs-title);
    font-family: "SBBNeue", sans-serif;
    font-weight: 600;
}

.name #abenteuer {
    color: var(--color-text);
}

.name #now {
    color: var(--color-text-inverted);
}

.logo img{
    height: var(--fs-title-logo);
}

/* #endregion */

/* #region main */

/* region box */

.box{
    margin: 2rem 25%;
    width: 50%;
    background-color: var(--color-box);
    padding: 1rem;
    border: 0.5px solid var(--color-box-border);
    border-radius: 16px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

/* #endregion */


/* #endregion */